#page-header {
  position: fixed;
  background-color: lightgrey;
}

#paragraph-1 {
  float: left;
  color: red;
  font-size: 150%;
  background-color: aliceblue;
  margin: 20px;
  width: 40%;
  padding: 10px;
}

#paragraph-2 {
  float: left;
  color: blue;
  background-color: aliceblue;
  margin: 20px;
  width: 40%;
  padding: 10px;
}

.paragraph {
  padding-top: 100px
}

#image {
  margin: 100px;
  padding: 30px;
  height: 2000px;
  width: 500px;
}